.mensagem{
    background-color: greenyellow;
    color: #056608;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    /*position: fixed;*/
    z-index: 10;
    justify-self: center;

    
}

.show{
    visibility: visible;
}

.hide{
    visibility: hidden;
}

.btn-msg {
    display: inline-block;
    font-weight: 400;
    color: #056608 !important;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    border: 2px solid #056608;
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .60rem;
}

.btn-msg:hover {
    color: white !important;
    background-color: #056608;
}

