body {
    background-color: #fff;
}
.logo {
    max-width: 118px;
    max-height: 104px;
    width: auto;
    height: auto;
    margin: 5px;
}

/*top barr*/
.top-bar {
    position: relative;
    border-bottom: none;
}
.top-bar-item {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: none;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}
/*HEADER*/
header {
    background-color: #edecd1;
    width: 100%;
    margin: 0;
	padding: 0;
	color: #aaa;
    font-family: 'Arial';
    border-bottom: none;
}
.search {
    width: 40%;
}
.badge {
    color: honeydew;
    background-color: #A20808;
}
.form-control {
    border-radius: 65px !important;
    background-color: #D7E1ED !important;
}
.a-custom {
    color: inherit!important;
}

.img-carrinho{
    display: flex;
}
.nome-usuario{
    color: #056608;
    padding: 5px;
}
.nome-usuario:hover{
    background-color: #056608;
	border-radius: 60px;
    color: honeydew !important;
    cursor: pointer;
    text-decoration: none;


}
.a-login {
    color: gray;
    padding: 5px;
}
.a-login:hover{
    background-color: #056608;
	border-radius: 60px;
    color: honeydew !important;
    cursor: pointer;
    text-decoration: none;
    
}
/*navbar-m*/
.nav-link {
    margin: 0px;
    padding: 0px;
    
}
.nav-link:hover{
	background-color: #056608;
	border-radius: 60px;
    color: honeydew !important;
    cursor: pointer;
	
}
.nav-item {
    align-self: center;
    align-content: center;
    align-items: center;
    color: #056366 !important;
    text-decoration: none;
	z-index:1;
    background-color: #edecd1;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* teste sandwich*/
.navbar-m {
    width:100%;
    align-items: center;
    
    object-position: center;
    background-color: #edecd1;
    border-top: solid 2px #056608;
    border-bottom: solid 2px #056608;
    margin-top: none;
    margin-bottom: none;
   
}
	
.navbar-m ul{
    align-content: center;
    align-items: center;
    justify-content: space-between;
	list-style: none;	
    position: relative;
	
}
.navbar-m ul li{
    align-self: center;
    margin-top: none;
    margin-bottom: none;
	width: auto;
	float: left;
}
.navbar-m a{
	display: block;
	text-decoration: none;
	text-align: center;
}
.navbar-m ul ul{
	list-style: none;
	visibility: hidden;
	position: relative;
    z-index:1;
	
}
.navbar-m ul li:hover ul{
	visibility: visible;
}
	
.navbar-m ul ul li{
	float:none;
	border-bottom: solid 1px #ccc;
}
.navbar-m ul ul li a{
	background-color: #069;
	text-align: left;
}
#bt-navbar-m{
	display: none;
}
label[for='bt-navbar-m']{
	background-color: #E0E0A2;
	color: #056608;
	font-family: 'Arial';
	text-align: center;
	font-size: 30px;
	cursor: pointer;
	display: none;
	width: 50px;
    height: 50px;
    border: #056608 solid 1px;
    border-radius: 60px;
}	
label[for='bt-navbar-m']:hover{
    background-color:#056608;    
	color:white;
}

#search {
    width: 20px; 
    height: 20px;
}

.input-search{
    align-items: center;
}

header{
    padding: 0;

}
header .top-bar{
    padding: 0;

}

ul {
    margin-top: 0px;
    margin-bottom: 0px;    
}
.list-login li {
    text-align: left;
}
.imagem-login{
    margin-right: 10px;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
}

.search-img{
    width: 40px;
    height: 40px;
    padding: 7px;
}

.search-img:hover{
    cursor: pointer;
}

.input-search{
    display: inline-flex;

}
