body {
    background-color: #fff;
}


.a-ps {
    color: gray !important;
}

.a-ps:link {
    color: gray;
}

.a-ps:visited {
    text-decoration: none
}

.a-ps:hover {
    background-color: #25a52a;
    border-radius: 60rem;
    color: honeydew !important;
}

a:active {
    text-decoration: none
}


/*top barr*/

.top-bar {
    position: relative;
    border-bottom: solid 2px #056608;
}

.top-bar-item {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*Carosel*/

.carousel-c {
    /*width: 1253px;*/
    height: 250px;
    margin-top: 20px;
    margin-bottom: 50px;
    position: relative;
    z-index:1;
}




/*Botton barr*/

.botton-barr {
    max-height: 280px;
    height: auto;
    border: #056608 solid 10px;
    background-color: rgb(145, 192, 145);
}


/*card*/



/*botton*/

.btn-m {
    display: inline-block;
    font-weight: 400;
    color: #056608 !important;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    border: 2px solid #056608;
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .60rem;
}

.btn-m:hover {
    color: white !important;
    background-color: #056608;
}
