body {
    background-color: #fff;
}

.carousel-c {
    width: 1253px;
    height: 250px;
    margin-top: 20px;
    margin-bottom: 50px;
    position: relative;
    z-index:1;
}

a:active {
    text-decoration: none
}


/*top barr*/

.top-bar {
    position: relative;
    border-bottom: solid 2px #056608;
}

.top-bar-item {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*Carosel*/

.carousel-c {
    /*width: 1253px;*/
    height: 250px;
    margin-top: 20px;
    margin-bottom: 50px;
    position: relative;
    z-index:1;
}




/*Botton barr*/

.botton-barr {
    max-height: 280px;
    height: auto;
    border: #056608 solid 10px;
    background-color: rgb(145, 192, 145);
}

/*botton*/

