a:active {
    text-decoration: none
}


.a-ps {
    color: gray;
}

.a-ps:link {
    color: gray;
}

.a-ps:visited {
    text-decoration: none
}

.a-ps:hover {
    background-color: #00aa06;
    border-radius: 60px;
    color: honeydew;
}