.form-signin {
  text-align: center;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 18px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: 10px;
  
  border-radius: 5px;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  
  border-radius: 5px;
}

.titulo-login{
    font-weight: 400px;
    font-size: 1.75rem;
    margin-bottom: 1rem;
    font-family: inherit;
}

#voltar{
  background-color: darkgreen;
  border-radius:15px;
  font-weight: bold;
}

#verificar{
  background-color:#E64800;
  border-radius:15px;
  font-weight: bold;
}

.login-container{
    justify-items: space-around;
    border-style: none;
    background-color: #f5f5cd;
    justify-self: center;
    border-radius: 15px;
    padding: 10px;
}

.esqueci-senha{
    color: inherit;
    text-decoration: none;
    background-color: transparent;
    align-self: center;
    text-align: center;
}

.esqueci-senha:hover{
    color: darkgreen;
    text-decoration: none;
    background-color: transparent;
    align-self: center;
    text-align: center;
}

.btn{
  width: 300px;
  margin: 10px;
  font-size: 20px;
}


