
.card-m:hover {
    border: #056608 dotted 2px;
}

.card-img-top {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 280px;
    max-height: 280px;
    width: auto;
    height: auto;
}

.card-m {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #edecd1;
    align-items: center;
    text-align: center;
    border-radius: 2rem;
    border: white dotted 2px;
}

.valor {
    color: #E64800!important;
}

mark {
    color: gray;
}

.btn-m {
    display: inline-block;
    font-weight: 400;
    color: #056608 !important;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    border: 2px solid #056608;
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .60rem;
}

.btn-m:hover {
    color: white !important;
    background-color: #056608;
}