
.card-m:hover {
    border: #056608 dotted 2px;
}

.card-img-top {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 280px;
    max-height: 280px;
    width: auto;
    height: auto;
}

.card-m {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #edecd1;
    align-items: center;
    text-align: center;
    border-radius: 2rem;
    border: white dotted 2px;
}

.valor {
    color: #E64800!important;
}

mark {
    color: gray;
}